@page "/details-invoice/{InvoiceId:int}"

@using System.Globalization
@using MyApp.BlazorUI.Services
@using MyApp.Shared.DTOs

@inject NavigationManagerExt Navigation

@inject IAuthService AuthService
@inject ICheckoutService CheckoutService

<PageTitle>Rincian Invoice</PageTitle>

<style>
/* Selang-seling warna baris */
.mud-table tr:nth-child(even) {
    background-color: rgba(184, 134, 11, 0.2) !important; /* Kuning tua transparan */
}
</style>

<MudContainer class="mt-20">
    <MudItem xs="12" sm="10">
        <MudText Typo="Typo.subtitle1">
            <MudLink OnClick="Navigation.GoToHome"><b style="color: gray;">Beranda ></b></MudLink>
            <MudLink OnClick="Navigation.GoToInvoice"><b style="color: gray;">Invoice ></b></MudLink>
            <MudLink><b>Rincian Invoice</b></MudLink>
        </MudText>
    </MudItem>

    @if (isLoading)
    {
        <div class="d-flex justify-center mt-10">
            <MudProgressCircular Indeterminate="true" Color="Color.Primary" Size="Size.Large" />
        </div>
    }
    else if (Elements == null || !Elements.Any())
    {
        <MudText Class="mt-6" Typo="Typo.subtitle1" Align="Align.Center">
            Tidak ada data rincian invoice.
        </MudText>
    }
    else
    {
        <MudText Typo="Typo.subtitle1" Class="mt-4 mb-4 fw-bold"><b> Rincian Invoice</b></MudText>
        <MudItem xs="16" sm="8">
            <MudText Typo="Typo.subtitle1" Class="mb-2"><b>No.Invoice: @Invoice.RefCode</b></MudText>
            <MudText Typo="Typo.subtitle1" Class="mb-2"><b>Tanggal Beli: @Invoice.CreatedAt.ToString("dd MMMM yyyy", new CultureInfo("id-ID"))</b></MudText>
        </MudItem>

        <MudItem Class="d-flex justify-end">
            <MudText Typo="Typo.subtitle1" Class="mb-4 fw-bold"><b>Total Harga: IDR @Invoice.TotalPrice.ToString("N0", new CultureInfo("id-ID"))</b></MudText>
        </MudItem>

        <MudTable T="InvoiceDetailDto" Items="@Elements" Hover="true" Breakpoint="Breakpoint.Sm"
                  Class="mt-4"
                  @ref="mudTable"
                  RowClass="cursor-pointer"
                  RowClassFunc="@SelectedRowClassFunc"
                  OnRowClick="RowClickEvent">

            <HeaderContent>
                <MudTh Style="background-color: #F8D24B; color: black;">No</MudTh>
                <MudTh Style="background-color: #F8D24B; color: black;">Nama Course</MudTh>
                <MudTh Style="background-color: #F8D24B; color: black;">Kategori</MudTh>
                <MudTh Style="background-color: #F8D24B; color: black;">Jadwal</MudTh>
                <MudTh Style="background-color: #F8D24B; color: black;">Harga</MudTh>
            </HeaderContent>

            <RowTemplate Context="item">
                <MudTd DataLabel="No">@(Elements.IndexOf(item) + 1)</MudTd>
                <MudTd DataLabel="NamaCourse">@item.CourseName</MudTd>
                <MudTd DataLabel="Kategori">@item.CategoryName</MudTd>
                <MudTd DataLabel="JadwalKursus">@item.ScheduleDate.ToString("D", new CultureInfo("id-ID"))</MudTd>
                <MudTd DataLabel="Harga">IDR @item.Price.ToString("N0", new CultureInfo("id-ID"))</MudTd>
            </RowTemplate>
        </MudTable>
    }
</MudContainer>

@code {
    [Parameter]
    public int InvoiceId { get; set; }

    private bool isLoading = true;
    private MudTable<InvoiceDetailDto> mudTable;
    private int selectedRowNumber = -1;
    private List<InvoiceDetailDto> Elements = new();
    private InvoiceDto Invoice = new();

    // protected override async Task OnInitializedAsync()
    // {
    // }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            return;
        }
        var auth = await AuthService.GetAccessTokenAsync();
        if (auth == null)
        {
            Navigation.GoToLogin(); // User belum login, arahkan user ke login page
            return;
        }
        var invoice = await CheckoutService.GetInvoiceByIdAsync(auth, InvoiceId);
        if (invoice == null)
        {
            // Tidak ada invoice, kosong
            isLoading = false;
            StateHasChanged();
            return;
        }
        Invoice = invoice;
        Elements = await CheckoutService.GetInvoiceDetailsByInvoiceIdAsync(auth, InvoiceId); // TODO: .OrderByDescending(i => i.CreatedAt).ToList()
        isLoading = false;
        StateHasChanged();
    }

    private void RowClickEvent(TableRowClickEventArgs<InvoiceDetailDto> args)
    {
        Console.WriteLine($"Row clicked: {args.Item?.CourseName}");
    }

    private string SelectedRowClassFunc(InvoiceDetailDto element, int rowNumber)
    {
        if (selectedRowNumber == rowNumber)
        {
            selectedRowNumber = -1;
            return string.Empty;
        }
        else if (mudTable.SelectedItem != null && mudTable.SelectedItem.Equals(element))
        {
            selectedRowNumber = rowNumber;
            return "selected";
        }
        else
        {
            return string.Empty;
        }
    }
}
