@page "/category"

@using System.Net.Http.Json
@using MyApp.BlazorUI.Services
@using MyApp.Shared.DTOs

@inject NavigationManagerExt Navigation

@inject IAuthService AuthService
@inject IAdminService AdminService

@inject IDialogService DialogService
@inject ISnackbar Snackbar

<PageTitle>Category</PageTitle>

<MudText Typo="Typo.h2" Class="mt-4 mb-4">Category</MudText>

<MudButton Class="mb-6" Variant="Variant.Filled" Color="Color.Success" Size="Size.Large"
           OnClick="() => OpenCategoryDialog(null)">
    Add Category
</MudButton>

<MudTable Breakpoint="Breakpoint.Sm" Items="@category" Hover="@hover" Filter="FilterFunc1" @bind-SelectedItem="selectedItem">
    <ToolBarContent>
        <MudText Typo="Typo.h2">Category</MudText>
        <MudSpacer />
        <MudTextField @bind-Value="searchString" Placeholder="Search"
                      Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search"
                      IconSize="Size.Medium" Class="mt-0" />
    </ToolBarContent>
    <HeaderContent>
        <MudTh>ID</MudTh>
        <MudTh>Name</MudTh>
        <MudTh>Description</MudTh>
        <MudTh>Picture</MudTh>
        <MudTh>Status</MudTh>
        <MudTh>Action</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="ID">@context.Id</MudTd>
        <MudTd DataLabel="Name">@context.Name</MudTd>
        <MudTd DataLabel="Description">
            <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 200px;">
                @context.Description
            </div>
        </MudTd>
        <MudTd DataLabel="Picture">
                <MudImage Src="@context.ImageUrl"
                          Alt="@context.Name"
                          Width="40"
                          Height="40"
                          Class="rounded-md mt-1" />
        </MudTd>
        <MudTd DataLabel="Status">
            @if (context.IsActive == true)
            {
                <MudChip T="string" Color="Color.Success" Variant="Variant.Filled" Size="Size.Small">Active</MudChip>
            }
            else
            {
                <MudChip T="string" Color="Color.Error" Variant="Variant.Filled" Size="Size.Small">Inactive</MudChip>
            }
        </MudTd>
        <MudTd DataLabel="Action">
            <MudButton Variant="Variant.Filled" Color="Color.Warning" Size="Size.Small"
                       Class="ml-auto mr-2"
                       OnClick="() => OpenCategoryDialog(context)">
                Edit
            </MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Error" Size="Size.Small" Class="ml-2"
                       OnClick="() => DeleteCategory(context.Id)">
                Delete
            </MudButton>
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>

@code {
    private IEnumerable<CategoryDto> category = new List<CategoryDto>();
    private bool hover = true;
    private string searchString = "";
    private CategoryDto selectedItem = null;

    protected override async Task OnInitializedAsync()
    {
        await LoadCategories();
    }

    private async Task LoadCategories()
    {
        category = await AdminService.GetAllCategoryAsync();
    }

    private bool FilterFunc1(CategoryDto u) => FilterFunc(u, searchString);

    private bool FilterFunc(CategoryDto u, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString)) return true;
        if (u.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase)) return true;
        return false;
    }

    private async Task DeleteCategory(int id)
    {
        var auth = await AuthService.GetAuthAsync();
        if (auth == null)
        {
            Navigation.GoToLogin(); // User belum login, arahkan user ke login page
            return;
        }
        bool result = await AdminService.DeleteCategoryAsync(auth, id);
        if (result) await LoadCategories();
        Snackbar.Add("Berhasil menghapus category", Severity.Success);
    }

    private async Task OpenCategoryDialog(CategoryDto? categoryItem)
    {
        var parameters = new DialogParameters();
        //
        CategoryDto? categoryItemClone = null;
        bool isUpdating = categoryItem != null;
        if (categoryItem != null)
        {
            categoryItemClone = new CategoryDto()
            {
                Id = categoryItem.Id,
                Name = categoryItem.Name,
                LongName = categoryItem.LongName,
                Description = categoryItem.Description,
                IsActive = categoryItem.IsActive,
                CreatedAt = categoryItem.CreatedAt,
                ImageUrl = categoryItem.ImageUrl
            };
        }
        //
        parameters.Add("Category", categoryItemClone ?? new CategoryDto());
        parameters.Add("IsUpdating", isUpdating); // Bila courseItem ada, berarti updating

        var options = new DialogOptions
        {
            CloseButton = true,
            MaxWidth = MaxWidth.Small,
            FullWidth = true
        };

        var dialog = await DialogService.ShowAsync<CategoryDialog>("Category Form", parameters, options);
        var result = await dialog.Result;

        if (result != null && !result.Canceled && result.Data is CategoryDto)
        {
            await LoadCategories();
        }
    }
}