@inherits LayoutComponentBase

@using Microsoft.AspNetCore.Components.Authorization
@using MyApp.BlazorUI.Components.Pages
@using MyApp.Domain.Models
@using MyApp.BlazorUI.Services
@using MyApp.Shared.DTOs

@inject NavigationManagerExt Navigation
@inject ISnackbar Snackbar

@inject IUserService UserService
@inject IAuthService AuthService

<MudThemeProvider Theme="@MyCustomTheme" IsDarkMode="_isDarkMode" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudOverlay @bind-Visible="@popoverOpen" Absolute="true" Class="pa-0 ma-0" AutoClose="true" />
    @if (Loggedin && IsAdmin)
    {
        @if (ShouldShowAppBar())
        {
            <MudAppBar Elevation="1">
                <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
                <MudLink OnClick="Navigation.GoToDashboard" Color="Color.Default">
                    <MudImage Class="mt-2" Src="img/applogo.svg" Alt="App Logo" />
                </MudLink>
                <MudText Typo="Typo.h5" Class="ml-3" Style="color:#110e2d">Dashboard Admin</MudText>
            </MudAppBar>
        }

        <MudDrawer id="nav-drawer" @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
            <NavMenu />
            <MudButton Style="color:#110e2d" EndIcon="@Icons.Material.Filled.Logout" OnClick="HandleLogout">Logout</MudButton>
        </MudDrawer>

    }
    else if (Loggedin)
    {
        @if (ShouldShowAppBar())
        {
            <MudAppBar Elevation="1">
                <MudLink OnClick="Navigation.GoToHome" Color="Color.Default">
                    <MudImage Src="img/applogo.svg" Alt="App Logo" />
                </MudLink>
                <MudSpacer />
                <MudIconButton Icon="@Icons.Material.Filled.ShoppingCart" OnClick="Navigation.GoToCheckout"></MudIconButton>
                <MudButton Variant="Variant.Text" OnClick="Navigation.GoToKelasKu" Class="mx-2">
                    <MudText>Kelasku</MudText>
                </MudButton>
                <MudButton Variant="Variant.Text" OnClick="Navigation.GoToInvoice" Class="mx-2">
                    <MudText>Pembelian</MudText>
                </MudButton>
                <MudText Class="mx-2">|</MudText>
                <div class="d-flex">
                    <MudIconButton Icon="@Icons.Material.Filled.Person" OnClick="@ToggleOpen"></MudIconButton>
                    <MudPopover Open="@popoverOpen" Fixed="true" Class="" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopLeft">
                        <MudContainer MaxWidth="MaxWidth.Medium" Class="mt-4 mb-4">
                            <MudStack Spacing="4" AlignItems="AlignItems.Center">
                                <MudIcon Icon="@Icons.Material.Filled.Person" Style="font-size: 4rem;"></MudIcon>
                                <MudText Typo="Typo.h5" Align="Align.Center"><b>@_user.Name</b></MudText>
                                <MudText Typo="Typo.body2" Align="Align.Center">@_user.Email</MudText>
                            </MudStack>
                        </MudContainer>
                    </MudPopover>
                </div>
                

                
                <MudIconButton Icon="@Icons.Material.Filled.Logout" OnClick="HandleLogout"></MudIconButton>
            </MudAppBar>
        }
    }
    else
    {
        @if (ShouldShowAppBar())
        {
            <MudAppBar Elevation="1">
                <MudLink OnClick="Navigation.GoToHome" Color="Color.Default">
                    <MudImage Src="img/applogo.svg" Alt="App Logo" />
                </MudLink>
                <MudSpacer />
                <MudButton Variant="Variant.Text" OnClick="Navigation.GoToRegister" Class="mx-2">
                    <MudText>Daftar Sekarang</MudText>
                </MudButton>
                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Navigation.GoToLogin">
                    <MudText>Masuk</MudText>
                </MudButton>
            </MudAppBar>
        }
    }
    <MudMainContent Class="mt-14 pa-4" Style="min-height: 60vh">
        @Body
    </MudMainContent>
    
    @if (ShouldShowFooter() && !IsAdmin)
    {
        <MudPaper Class="mt-12" Style="background-color:#F8D24B; border-radius: 0; bottom: 0; ">
            <MudContainer MaxWidth="MaxWidth.Large" Class="py-10">
                <MudGrid Class="d-flex justify-space-evenly">
                    <!-- Kolom Tentang -->
                    <MudItem xs="12" sm="6" md="4">
                        <MudText Typo="Typo.h6" Class="mb-2"><b>Tentang</b></MudText>
                        <MudText Typo="Typo.body2">
                            AppleMusic Course Web adalah platform interaktif yang dirancang untuk mempermudah pengguna belajar musik secara online. 
                            Dengan berbagai kursus instrumen, teknik vokal, dan teori musik, pengguna dapat mengakses materi berkualitas tinggi kapan saja 
                            dan di mana saja, serta belajar dari instruktur profesional di bidangnya.
                        </MudText>
                    </MudItem>

                    <!-- Kolom Produk -->
                    <MudItem xs="12" sm="6" md="4">
                        <MudText Typo="Typo.h6" Class="mb-2"><b>Produk</b></MudText>
                        <MudStack Row="true" Spacing="1">
                            <ul class="ml-4" style="columns: 2; column-gap: 20px;">
                                <li>Biola</li>
                                <li>Gitar</li>
                                <li>Drum</li>
                                <li>Menyanyi</li>
                                <li>Piano</li>
                                <li>Saxophone</li>
                            </ul>
                        </MudStack>
                    </MudItem>

                <!-- Kolom Alamat -->
                <MudItem xs="12" sm="12" md="4">
                    <MudText Typo="Typo.h6" Class="mb-2"><b>Alamat</b></MudText>
                    <MudText Typo="Typo.body2" Class="mb-2">
                        Jakarta, Indonesia 10110.
                    </MudText>
                    
                    <!-- Kolom Kontak -->
                    <MudText Typo="Typo.h6"><b>Kontak</b></MudText>
                    <MudStack Row="true" Spacing="2">
                        <!-- Phone -->
                        <MudLink Href="tel:+62">
                            <MudIconButton>
                            <img src="img/icon-telephone.svg" alt="Phone" />
                            </MudIconButton>
                        </MudLink>

                            <!-- Instagram -->
                            <MudLink Href="https://www.instagram.com/" Target="_blank">
                                <MudIconButton>
                                    <img src="img/icon-instagram.svg" alt="Instagram" />
                                </MudIconButton>
                            </MudLink>

                            <!-- Youtube -->
                            <MudLink Href="https://www.youtube.com/" Target="_blank">
                                <MudIconButton>
                                    <img src="img/icon-youtube.svg" alt="YouTube" />
                                </MudIconButton>
                            </MudLink>

                            <!-- Tele -->
                            <MudLink Href="https://web.telegram.org/">
                                <MudIconButton>
                                    <img src="img/icon-tele.svg" alt="Instagram" />
                                </MudIconButton>
                            </MudLink>

                            <!-- Email -->
                            <MudLink Href="mailto:aku@gmail.com">
                                <MudIconButton>
                                    <img src="img/icon-email.svg" alt="Instagram" />
                                </MudIconButton>
                            </MudLink>
                        </MudStack>

                    </MudItem>
                </MudGrid>
            </MudContainer>
        </MudPaper>
    }
</MudLayout>


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    [Inject] private NavigationManager NavManager { get; set; } = default!;
    MudTheme MyCustomTheme = new MudTheme()
    {
        PaletteLight = new PaletteLight()
        {
            
            Primary = "#5D5FEF",
            TextPrimary = "#333333",
            AppbarText = "#424242",
            AppbarBackground = "#F2C94C",
            DrawerBackground = "#F8D24B",
            GrayLight = "#e8e8e8",
            GrayLighter = "#f9f9f9",

        },
        LayoutProperties = new LayoutProperties()
        {
            DefaultBorderRadius = "10px",
        },
        Typography = new Typography()
        {
            H1 = new H1Typography()
            {
                FontFamily = new[] { "Poppins" },
                FontWeight = "600",
                FontSize = "32px",
                LineHeight = "150%",
                LetterSpacing = "0%"
            },
            H2 = new H2Typography()
            {
                FontFamily = new[] { "Poppins" },
                FontWeight = "600",
                FontSize = "24px",
                LineHeight = "150%",
                LetterSpacing = "0%"
            },
            H3 = new H3Typography()
            {
                FontFamily = new[] { "Poppins" },
                FontWeight = "600",
                FontSize = "18px",
                LineHeight = "150%",
                LetterSpacing = "0%"
            },
            H4 = new H4Typography()
            {
                FontFamily = new[] { "Poppins" },
                FontWeight = "600",
                FontSize = "16px",
                LineHeight = "150%",
                LetterSpacing = "0%"
            },
            Default = new DefaultTypography()
            {
                FontFamily = new[] {"Poppins"},
                FontWeight = "400",
                FontSize = "16px",
                LineHeight = "150%",
                LetterSpacing = "0%"
            },
            Body1 = new Body1Typography()
            {
                FontFamily = new[] { "Poppins" },
                FontWeight = "400",
                FontSize = "16px",
                LineHeight = "150%",
                LetterSpacing = "0%"
            },
            Button = new ButtonTypography()
            {
                FontFamily = new[] { "Poppins" },
                FontWeight = "500",
                FontSize = "15px",
                LineHeight = "150%",
                LetterSpacing = "0%"
            }
        }
    };

    private bool Loggedin = false;
    private bool IsAdmin = false;

    private UserDto _user = new()
    {
        Name = "Loading....",
        Email = "Loading....",
    };

    /// <summary>
    /// Handle user menekan tombol logout
    /// </summary>
    /// <returns></returns>
    private async Task HandleLogout()
    {
        try
        {
            var auth = await AuthService.GetAccessTokenAsync();
            await AuthService.LogoutAsync(auth); // TODO: Apa yang terjadi bila token invalid dan user mencoba logout?
        }
        catch (Exception ex)
        {
            Snackbar.Add($"Error: {ex.Message}", Severity.Error);
        }
        Navigation.GoToHome2(); //Logout balik ke home page
    }

    private bool _drawerOpen = true;
    private bool _isDarkMode = false;
    private MudTheme? _theme = null;

    private bool popoverOpen = false;

    private async Task ToggleOpen()
    {
        popoverOpen = !popoverOpen;
        if (popoverOpen)
        {
            var auth = await AuthService.GetAccessTokenAsync();
            if (auth == null)
            {
                Navigation.GoToLogin(); // User belum login, arahkan user ke login page
                return;
            }
            var user = await UserService.GetSelfUserAsync(auth); // TODO: .OrderByDescending(i => i.CreatedAt).ToList()
            if (user != null)
            {
                _user = user;
                StateHasChanged();
            }
            
        }
    }

    private string? currentPath;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        currentPath = NavManager.Uri;

        NavManager.LocationChanged += async (_, __) =>
        {
            currentPath = NavManager.Uri;
            await UpdateLogin();
            StateHasChanged(); // Refresh tampilan saat route berubah
        };

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await UpdateLogin();
            StateHasChanged();
        }
    }

    private async Task UpdateLogin()
    {
        Loggedin = await AuthService.IsLoggedInAsync();
        IsAdmin = await AuthService.IsAdminAsync();
    }

    // ====== Logic Visibility ======

    private bool ShouldShowFooter()
    {
        var path = NavManager.ToBaseRelativePath(NavManager.Uri).ToLower();
        return !(path.Contains("login") ||
                 path.Contains("register") ||
                 path.Contains("checkout") ||
                 path.Contains("success-purchase") ||
                 path.Contains("confirm-email") ||
                 path.Contains("reset-password"));
    }

    private bool ShouldShowAppBar()
    {
        var path = NavManager.ToBaseRelativePath(NavManager.Uri).ToLower();
        return !(path.Contains("success-purchase") ||
                 path.Contains("confirm-email"));
    }

    private void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}
