@inherits LayoutComponentBase;

@using MyApp.BlazorUI.Components.Pages;
@using MyApp.BlazorUI.Models
@using MyApp.BlazorUI.Services

@inject NavigationManagerExt Navigation;
@inject IUserService UserService
@inject IAuthService AuthService

<MudThemeProvider Theme="@_theme" IsDarkMode="_isDarkMode"/>
<MudPopoverProvider /> 
<MudDialogProvider /> 
<MudSnackbarProvider />

<MudLayout>
@if (AuthService.IsLoggedIn())
    {
        @if (UserRole == Role.Admin)
        {
            @if (ShouldShowAppBar())
            {
            <MudAppBar Elevation="1">
                <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
                <MudLink OnClick="Navigation.GoToDashboard" Color="Color.Default">
                    <MudImage Class="mt-2" Src="img/applogo.svg" Alt="App Logo" />
                </MudLink>
                <MudText Typo="Typo.h5" Class="ml-3" Style="color:#110e2d">Dashboard Admin</MudText>
            </MudAppBar>
            }

            <MudDrawer id="nav-drawer" @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
                <NavMenu />
                <MudButton Style="color:#110e2d" EndIcon="@Icons.Material.Filled.Logout" OnClick="HandleLogout">Logout</MudButton>
            </MudDrawer>

            <MudMainContent Class="pa-4 pt-6">
                @Body
            </MudMainContent>
        }
        else
        {
        @if (ShouldShowAppBar())
        {
        <MudAppBar Elevation="1">
            <MudLink OnClick="Navigation.GoToHome" Color="Color.Default">
                <MudImage Src="img/applogo.svg" Alt="App Logo"/>
            </MudLink>
            <MudSpacer />
            <MudIconButton Icon="@Icons.Material.Filled.ShoppingCart" OnClick="Navigation.GoToCheckout"></MudIconButton>
            <MudButton Variant="Variant.Text" OnClick="Navigation.GoToKelasKu" Class="mx-2">
                <MudText>Kelasku</MudText>
            </MudButton>
            <MudButton Variant="Variant.Text" OnClick="Navigation.GoToInvoice" Class="mx-2">
                <MudText>Pembelian</MudText>
            </MudButton>
            <MudText Class="mx-2">|</MudText>
            <MudIconButton Icon="@Icons.Material.Filled.Person"></MudIconButton>
            <MudIconButton Icon="@Icons.Material.Filled.Logout" OnClick="HandleLogout"></MudIconButton>
        </MudAppBar>
        }

    <MudMainContent Class="pt-16 pa-4">
        @Body
    </MudMainContent>

    <!---Footer-->
    @if (ShouldShowFooter())
    {
    <MudPaper Class="mt-12" Style="background-color:#F8D24B; border-radius: 0;">
        <MudContainer MaxWidth="MaxWidth.Large" Class="py-10">
            <MudGrid Class="d-flex justify-space-evenly">
                <!-- Kolom Tentang -->
                <MudItem xs="12" sm="6" md="4">
                    <MudText Typo="Typo.h6" Class="mb-2"><b>Tentang</b></MudText>
                    <MudText Typo="Typo.body2">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque 
                        laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi 
                        architecto beatae vitae dicta sunt explicabo.
                    </MudText>
                </MudItem>

                <!-- Kolom Produk -->
                <MudItem xs="12" sm="6" md="4">
                    <MudText Typo="Typo.h6" Class="mb-2"><b>Produk</b></MudText>
                    <MudStack Row="true" Spacing="1">
                    <ul class="ml-4" style="columns: 2; column-gap: 20px;">
                        <li>Biola</li>
                        <li>Gitar</li>
                        <li>Drum</li>
                        <li>Menyanyi</li>
                        <li>Piano</li>
                        <li>Saxophone</li>
                    </ul>
                    </MudStack>
                </MudItem>

                <!-- Kolom Alamat -->
                <MudItem xs="12" sm="12" md="4">
                    <MudText Typo="Typo.h6" Class="mb-2"><b>Alamat</b></MudText>
                    <MudText Typo="Typo.body2" Class="mb-2">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.
                    </MudText>
                    
                    <!-- Kolom Kontak -->
                    <MudText Typo="Typo.h6"><b>Kontak</b></MudText>
                    <MudStack Row="true" Spacing="2">
                        <!-- Phone -->
                        <MudLink Href="tel:+62">
                            <MudIconButton>
                            <img src="img/icon-telephone.svg" alt="Phone" />
                            </MudIconButton>
                        </MudLink>

                        <!-- Instagram -->
                        <MudLink Href="https://www.instagram.com/" Target="_blank">
                            <MudIconButton>
                                <img src="img/icon-instagram.svg" alt="Instagram" />
                            </MudIconButton>
                        </MudLink>

                        <!-- Youtube -->
                        <MudLink Href="https://www.youtube.com/" Target="_blank">
                            <MudIconButton>
                                <img src="img/icon-youtube.svg" alt="YouTube" />
                            </MudIconButton>
                        </MudLink>

                        <!-- Tele -->
                        <MudLink Href="https://web.telegram.org/">
                            <MudIconButton>
                            <img src="img/icon-tele.svg" alt="Instagram" />
                            </MudIconButton>
                        </MudLink>

                        <!-- Email -->
                        <MudLink Href="mailto:aku@gmail.com">
                            <MudIconButton>
                            <img src="img/icon-email.svg" alt="Instagram" />
                            </MudIconButton>
                        </MudLink>
                    </MudStack>

                </MudItem>
            </MudGrid>
        </MudContainer>
    </MudPaper> 
    }
}  
    }
    else
    {
        @if (ShouldShowAppBar())
        {
        <MudAppBar Elevation="1">
            <MudLink OnClick="Navigation.GoToHome" Color="Color.Default">
                <MudImage Src="img/applogo.svg" Alt="App Logo"/>
            </MudLink>
            <MudSpacer />
            <MudButton Variant="Variant.Text" OnClick="Navigation.GoToRegister" Class="mx-2">
                <MudText>Daftar Sekarang</MudText>
            </MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Navigation.GoToLogin">
                <MudText>Masuk</MudText>
            </MudButton>
        </MudAppBar>
        }   

    <MudMainContent Class="pt-16 pa-4">
        @Body
    </MudMainContent>
    }
</MudLayout>


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    [Inject] private NavigationManager NavManager { get; set; } = default!;
    MudTheme MyCustomTheme = new MudTheme()
    {
        Typography = new Typography()
        {
            Default = new DefaultTypography()
            {
                FontFamily = new[] {"Poppins"},
                FontWeight = "500"
            }
        }
    };

    [Parameter] 
    public Role UserRole { get; set; } = Role.User; //role user
    private bool Loggedin = true;
    private async Task HandleLogout()
    {
        await AuthService.LogoutAsync();
        Navigation.GoToLogin();
    }

    private bool _drawerOpen = true;
    private bool _isDarkMode = false;
    private MudTheme? _theme = null;

     private string? currentPath;

    // ====== Lifecycle ======
    protected override void OnInitialized()
    {
        base.OnInitialized();

        currentPath = NavManager.Uri;

        // Event listener untuk deteksi perubahan halaman
        NavManager.LocationChanged += (_, __) =>
        {
            currentPath = NavManager.Uri;
            StateHasChanged(); // Refresh tampilan saat route berubah
        };

        _theme = new()
        {
            PaletteLight = _lightPalette,
            LayoutProperties = new LayoutProperties()
        };
    }

    // ====== Logic Visibility ======

    private bool ShouldShowFooter()
    {
        var path = NavManager.ToBaseRelativePath(NavManager.Uri).ToLower();
        // Sembunyikan footer di halaman tertentu
        return !(path.Contains("checkout") ||
                 path.Contains("success-purchase") ||
                 path.Contains("email-success-confirm"));
    }

    private bool ShouldShowAppBar()
    {
        var path = NavManager.ToBaseRelativePath(NavManager.Uri).ToLower();
        // Sembunyikan AppBar di halaman tertentu
        return !(path.Contains("success-purchase") ||
                 path.Contains("email-success-confirm"));
    }

    private void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    private readonly PaletteLight _lightPalette = new()
    {
        Primary = "#5D5FEF", //Button Color
        Black = "#110e2d",
        AppbarText = "#424242",
        AppbarBackground = "#F2C94C",
        DrawerBackground = "#F8D24B",
        GrayLight = "#e8e8e8",
        GrayLighter = "#f9f9f9",
    };

    
}


